@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-open {
  @apply h-screen z-40 absolute overflow-hidden;
  &:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("./assets/background-2d.jpg");
    background-size: cover;
    width: 110% !important;
    filter: blur(5px);
  }
}

.background-image-blurred {
  filter: blur(5px);
}


body {
  background-image: url("./assets/background-2d.jpg");
  background-size: cover;
  height: 100vh;
}

main {
  padding-top: 8rem;
}

.menu-close {
  display:none;
}

.li--backToGame {
  align-self: flex-end;
  justify-self: center;
  position: absolute;
}